black==23.3.0
boto3==1.26.90
Django==4.1.7
django-cors-headers==3.14.0
django-multiselectfield==0.1.12
django-rest-framework==0.1.0
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-spectacular==0.25.1
google-api-python-client==1.4.1
Pillow==9.4.0
psycopg2-binary==2.9.5
PyJWT==2.6.0
python-dotenv==1.0.0
django-material-admin==1.8.6